extends layout

block content
  div(class="p-4 main-container")
    h1= title
    hr
    ul
      each developer, index in developer_list
        li(class="mb-2 initial-position cascade-fade-in" style=`--delay:${index + 1}`)
          a(href=developer.url class="h4") #{developer.name}

      else
        li There are no developers here! Be the first to create one.