extends layout

block content
  div(class="p-4 main-container")
    h1 Delete #{title}
    hr
    p(class="mb-3") #[strong Do you really want to delete this game?]
    form(action="" method="POST")
      input(class="form-input mb-3" id="gameid" name="gameid" value=game._id type="hidden")
      button(class="action-btn" type="submit") Delete