extends layout

block content
  div(class="p-4 main-container")
    h1 #{title}
    hr
    form(class="form-group d-flex flex-column" action="" method="POST")
        label(for="name") #[strong Genre:]
        input(class="form-input mb-3" id="name" name="name" placeholder="Shooter, Racing, Party etc." value=(genre===undefined ? '' : genre.name) type="text" autofocus)
        button(class="action-btn" type="submit") Submit

    if errors
      ul
        for error in errors
          li!= error.msg