extends layout

block content
  div(class="p-4 main-container")
    h1= title
    hr
    ul(class="d-flex flex-wrap")
      each genre, index in genre_list
        li(class="cascade-fade-in card" style=`--delay:${index + 1}`)
          a(href=genre.url) #{genre.name}

      else
        li There are no genres here! Be the first to create one.