extends layout

block content
  div(class="p-4 main-container")
    h1= title
    hr
    ul(class="d-flex flex-wrap")
      each platform, index in platform_list
        li(class="cascade-fade-in card" style=`--delay:${index + 1}`)
          a(href=platform.url) #{platform.name}

      else
        li There are no platforms here! Be the first to create one.