@import url('https://fonts.googleapis.com/css2?family=Barlow&family=REM&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-family: 'REM', sans-serif;
}

a {
 color: black;
}

.sidebar {
  height: 100vh;
  max-height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 0 20px #cbcbcb;
  overflow-y: auto;
}

hr {
  border-color: #dfdfdf;
}

ul {
  list-style: none;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  border-radius: 50px;
  font-size: 1.1rem;
  outline: none;
}

.sidebar-link:hover {
  color: white;
  background: rgb(124, 105, 191);
  text-decoration: none;
}