@import url('https://fonts.googleapis.com/css2?family=Barlow&family=REM&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-family: 'REM', sans-serif;
}

a {
 color: black;
}

.sidebar {
  height: 100vh;
  max-height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 0 20px #cbcbcb;
  overflow-y: auto;
}

hr {
  border-color: #dfdfdf;
}

ul {
  list-style: none;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  border-radius: 50px;
  font-size: 1.1rem;
  outline: none;
  transition: 0.1s;
}

.sidebar-link:hover {
  color: white;
  background: rgb(124, 105, 191);
  text-decoration: none;
}

.home-container {
  height: 90vh;
}

.home {
  font-size: 1.25rem;
  box-shadow: 0 0 20px #cbcbcb;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.github-link {
  color: rgb(81, 32, 255);
}

.main-container {
  font-size: 1.3rem;
  opacity: 0;
  transform: translateX(15px);
  animation: fromLeft 0.4s ease forwards;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.game-list {
  gap: 2rem;
}

.game-card {
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px #cbcbcb;
}

.game-card img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}